@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Host Grotesk', sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.font-light {
  font-weight: 300;
}
